# Set to our default helmDefaults values
{{ $__helmDefaults := (readFile "../_common/helmDefaults.yaml" | fromYaml) }}

# Possibly overlay inherited values
{{ with ( .Values | get "helmDefaults" dict ) }}
{{ $_ := (deepCopy . | mergeOverwrite $__helmDefaults) }}
{{ end }}

# Render the final dict
helmDefaults:
{{ $__helmDefaults | toYaml | indent 2 }}
