{{ $scalingIndex := splitList "-" .Release.Name | last }}
nitro:
  config:
    parentChainUrl: http://your-eth-mainnet-url:8545  ## changeme
    classicUrl: http://arbitrum-classic-{{ $scalingIndex }}-0:8547
    chain: 42161

  restoreSnapshot:
    enabled: true
    snapshotUrl: "https://snapshot.arbitrum.foundation/arb1/nitro-archive.tar"
